.contact_view{
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;

  .title{
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: 8rem;
    color: var(--text-color);
  }
}