.projects_view{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;

  .title{
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: 8rem;
    color: var(--text-color);
  }

  .projects_skills {
    width: 100%;
    height: 8rem;
    // outline: 2px solid var(--highlight);
    // box-shadow: -2px 2px 15px var(--highlight);
    position: relative;
    display: flex;
    justify-content: center;
  
    .skills_container {
      width: calc(100% - 10rem); /* 50% del ancho menos 4rem */
      height: 100%; /* O el alto deseado */
      // background-color: lightgray; /* Ejemplo de color */
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      padding: 0 1rem;
      // gap: 1rem;

      .skill{
        margin: 0.5rem;
        flex: 0 0 auto;
        width: 4rem;
        height: 4rem;
        // background-color: white;
        outline: 1px solid var(--text-color);
        // margin-right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        .tooltip{
          position: absolute;
          width: auto;
          padding: 0 0.5rem;
          height: 1.5rem;
          background-color: var(--highlight);
          font-family: "CascadiaCodePL";
          font-size: 0.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          // text-align: center;
          color: var(--background-color);
          top: -50%;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }

        .skillIcon{
          width: 80%;
        }

        &:hover{
          .tooltip{
            opacity: 1;
          }
        }
      }
    }
  
    .button_left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(10%, -50%);
      width: 3rem; /* Ancho deseado */
      height: 80%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  
    .button_right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-10%, -50%);
      width: 3rem; /* Ancho deseado */
      height: 80%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  

  .projects_container{
    width: 100%;
    display: flex;
    justify-content: center;
    
    .timeline{
      width: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;

      .line{
        width: 1px;
        background-color: var(--highlight);
        height: 100%;
      }
    }
    
    .projects{
      width: 90%;
      height: auto;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      font-family: "CascadiaCodePL";
      gap: 1rem;
    }
  }

}