$breakpoint-xs: 575.98px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Inicio de nuestra aplicacion, contenedor principal
#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  // Este es nuestro hover del mouse que se movera en el contenedor principal
  .hover-shadow {
    position: absolute;
    // Asegura que el div no interfiera con otros eventos del mouse
    pointer-events: none;
    // Centra la sombra en el centro del mouse
    transform: translate(-50%, -50%);
    transition: box-shadow 0.2s ease;
  }

  // Por problemas de logica, este pasa a ser el contenedor principal de nuestra aplicacion, pero se establece el tamaño de la aplicacion en 1280px para que no se vea demasiado grande
  .app-container {
    // Usamos esto para poder mover nuestro hover del mouse en el contenedor principal
    position: relative;
    width: 90%;
    // Establecemmos el tamaño maximo del ancho de la aplicacion
    max-width: 1280px;
    // El tamaño se deja sin definir para que ocupe lo que sea necesario de altura
    height: auto;
  }
}

@media (max-width: 1000px) {
  .hover-shadow{
    display: none;
  }
}


