# Ignora todo el directorio node_modules
node_modules/
dist/
out/

# Ignora el archivo package-lock.json
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# Directorio temporal
tmp

# Archivos de configuración de Node.js
.npmrc

# Archivos de configuración de Yarn
.yarn
.pnp.*
.yarnrc

# Archivos de configuración de IDEs
.idea
.vscode

# Sistema de compilación
build
dist

# Archivos de configuración de herramientas de prueba
jest.config.js
mocha.config.js
npmGitPublish.js

# Otros
.DS_Store
Thumbs.db


commit-push.js

# Ignora el archivo .env
.env
