$breakpoint-xs: 575.98px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

.main_view{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .section_description{
    flex: 2;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // margin-top: 5vw;

    .title{
      font-size: clamp(2rem, 5vw, 5rem);
      line-height: clamp(3rem, 8vw, 8rem);
      margin: 0;
      width: 85%;
      color: var(--text-color);
    }
    .subtitle{
      width: 85%;
      font-size: clamp(0.7rem, 1.5vw, 1rem);
      color: var(--text-color);
    }
    .description{
      font-family: "CascadiaCodePL", Arial, Helvetica, sans-serif;
      font-size: clamp(0.8rem, 1vw, 1rem);
      color: var(--text-color);
      width: 85%;
    }
    .resources{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85%;
      height: 3rem;
      margin-top: 1rem;
      

      .download_cv{
        height: 70%;
        font-size: clamp(0.5rem, 0.7vw, 0.7rem);
        background-color: var(--highlight);
        color: var(--whiteColor);
        border-radius: 0;
        text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
        box-shadow: -2px 2px 15px var(--highlight);


        &:hover{
          // filter: drop-shadow(-2px 2px 15px var(--highlight));
          border: none;
          outline: none;
          animation: shadowRotate .5s infinite alternate;
        }
      }
      .social_buttons{
        width: 5rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .social_button{
          padding: 0;
          border: 0;
          width: 2rem;
          height: 2rem;
          background-color: var(--background-color);
          display: flex;
          outline: 1px solid var(--highlight);
          justify-content: center;
          align-items: center;
          box-shadow: -2px 2px 15px var(--highlight);

          &:hover{
            // filter: drop-shadow(-2px 2px 15px var(--highlight));
            // border: none;
            // outline: none;
            animation: shadowRotate .5s infinite alternate;
          }

          .svg{
            width: 80%;
            height: 80%;
          }
        }
      }
      
    }
  }

  .section_logo{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vw;
    

    .marco{
      overflow: visible;
      width: 90%;
      height: auto;
      background-image: url("../../../../public/img/img.png");
      background-size: cover;
      animation: moveMarco infinite 2s 1s linear alternate;
      // filter: drop-shadow(1px -1px 5px var(--highlight));
      z-index: 0;
    }

    .shadow{
      width: 70%;
      border-radius: 100%;
      height: 1.5rem;
      background-color: var(--background-color-low);
      animation: moveShadow infinite 2s 1s linear alternate;
      filter: blur(10px);
    }

    
  }
}

.drop-shadow {
  filter: drop-shadow(5px 5px 10px var(--highlight))
          // drop-shadow(-5px 5px 10px var(--highlight))
          drop-shadow(5px -5px 10px var(--highlight));
          // drop-shadow(-5px -5px 10px var(--highlight));
  z-index: 2;
}

.hidden{
  display: none;
}



@keyframes shadowRotate {
  from {
    box-shadow: -2px 2px 15px var(--highlight);
  }
  to {
    box-shadow: -5px 5px 15px var(--highlight-reverse);
  }
}

@keyframes moveMarco {
  from {
    transform: translate(0, 0) rotate(-2deg);
  }
  to {
    transform: translate(0, 15px) rotate(2deg);
  }
}

@keyframes moveShadow {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(1.1);
    background-color: var(--highlight);
  }
}


@media (max-width: 1000px) {

  .description{
    width: 100% !important;
    max-width: 600px;
    padding: 0;
    
  }

  .resources{
    width: 100% !important;
  }
}


@media (max-width: 800px) {
  .main_view{
    flex-direction: column;

    .section_description{
      order: 2;
      justify-content: start;
      height: 40%;
      flex: 1;

      .title{
        width: 100%;
      }
    }

    .section_logo{
      width: 40%;
      height: 40%;
      order: 1;
    }
  }
}

@media (max-width: 500px) {
  .main_view{
    flex-direction: column;

    .section_description{
      order: 2;
      justify-content: start;
      height: 40%;
      flex: 1.5;

      .title{
        width: 100%;
      }
    }

    .section_logo{
      width: 50%;
      height: 50%;
      order: 1;
    }
  }
}