$breakpoint-xs: 575.98px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.Homepage{
  width: 100%;
  padding: 0 1rem;
  position: relative;

  section{
    padding-top: 50px;
  }

  .loading_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -10rem;
  }
}


// Uso de las variables
@media (min-width: $breakpoint-xl) {
  /* Estilos para computadoras de escritorio grandes */
}
@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  /* Estilos para computadoras de escritorio pequeñas */
}
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  /* Estilos para tabletas */
}
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  /* Estilos para teléfonos medianos */
}
@media (max-width: $breakpoint-xs) {
  /* Estilos para teléfonos pequeños */
}













