@import "../../index.scss";

$breakpoint-xs: 575.98px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.Homepage{
  width: 100%;
  // height: 100%;
  padding: 0 1rem;
  
  .main_view{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .section_description{
      width: 100%;
      height: 27vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .title{
        font-size: clamp(2rem, 5vw, 5rem);
        line-height: clamp(3rem, 8vw, 8rem);
        margin: 0;
        width: 85%;
        color: var(--text-color);
      }
      .subtitle{
        width: 85%;
        font-size: 1rem;
        color: var(--text-color);
      }
      .description{
        font-family: "CascadiaCodePL";
        color: var(--text-color);
        width: 85%;
      }
      .resources{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 85%;
        height: 3rem;
        margin-top: 3rem;
        

        .download_cv{
          height: 100%;
          font-size: 0.7rem;
          background-color: var(--highlight);
          color: var(--whiteColor);
          border-radius: 0;
          text-shadow:
          -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
          box-shadow: -2px 2px 15px var(--highlight);


          &:hover{
            // filter: drop-shadow(-2px 2px 15px var(--highlight));
            border: none;
            outline: none;
            animation: shadowRotate .5s infinite alternate;
          }
        }
        .social_buttons{
          width: 5rem;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;


          .social_button{
            padding: 0;
            border: 0;
            width: 2rem;
            height: 2rem;
            background-color: var(--background-color);
            display: flex;
            outline: 1px solid var(--highlight);
            justify-content: center;
            align-items: center;
            box-shadow: -2px 2px 15px var(--highlight);

            &:hover{
              // filter: drop-shadow(-2px 2px 15px var(--highlight));
              // border: none;
              // outline: none;
              animation: shadowRotate .5s infinite alternate;
            }

            .svg{
              width: 80%;
              height: 80%;
            }
          }
        }
        
      }
    }
    .section_grid{
      width: 40vw;
      height: 27vw;
      /* background-image: url("/img/prueba.jpg"); */
      background-color: var(--background-color-reverse);

      .grid-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);

        .grid-item {
          // height: calc(100% /1);
          height: 100%;
          background-color: var(--background-color);
          opacity: 1; 
          transition: 1.5s;
                  
          &:hover {
            opacity: 0;
            transition: 0s;
          }
        }
      }
    }
  }

  .projects_view{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;

    .title{
      font-size: 3rem;
      margin-bottom: 8rem;
      color: var(--text-color);
    }

    .projects_skills {
      width: 100%;
      height: 8rem;
      outline: 2px solid var(--highlight);
      box-shadow: -2px 2px 15px var(--highlight);
      position: relative;
      display: flex;
      justify-content: center;
    
      .skills_container {
        width: calc(100% - 10rem); /* 50% del ancho menos 4rem */
        height: 100%; /* O el alto deseado */
        // background-color: lightgray; /* Ejemplo de color */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        // gap: 1rem;

        .skill{
          margin: 0.5rem;
          flex: 0 0 auto;
          width: 4rem;
          height: 4rem;
          // background-color: white;
          outline: 1px solid var(--text-color);
          // margin-right: 1rem;
        }
      }
    
      .button_left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(10%, -50%);
        width: 3rem; /* Ancho deseado */
        height: 80%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    
      .button_right {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-10%, -50%);
        width: 3rem; /* Ancho deseado */
        height: 80%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    
    .projects_container{
      width: 100%;
      height: 45rem;
      display: flex;
      // justify-content: space-around;
      overflow-x: auto;
      margin-top: 2rem;
      // outline: 2px solid var(--highlight);
      // box-shadow: -2px 2px 15px var(--highlight);
      font-family: "CascadiaCodePL";
      gap: 1rem;
    }
  }

  .contact_view{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;

    .title{
      font-size: 3rem;
      margin-bottom: 8rem;
      color: var(--text-color);
    }
  }
}

.white path{
  color: white;
}

// Uso de las variables
@media (min-width: $breakpoint-xl) {
  /* Estilos para computadoras de escritorio grandes */
}
@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  /* Estilos para computadoras de escritorio pequeñas */
}
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
  /* Estilos para tabletas */
}
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  /* Estilos para teléfonos medianos */
}
@media (max-width: $breakpoint-xs) {
  /* Estilos para teléfonos pequeños */
}

@keyframes shadowRotate {
  from {
    box-shadow: -2px 2px 15px var(--highlight);
  }
  to {
    box-shadow: -5px 5px 15px var(--highlight-reverse);
  }
}












